.container {
    min-height: 75vh;
    /* background-color: red; */
    display: flex;
    margin: 30px;
    gap: 50px;
    flex-wrap: wrap;
}

.content {
    width: 60%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    gap: 20px;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {

    .container {
        margin: 10px;
    }

    .content {
        width: 100%;
        max-width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
    }
}