.container {
    min-height: 75vh;
    /* background-color: red; */
    display: flex;
    margin: 30px 10px;
    flex-wrap: wrap;
}

.content {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;

}

.content h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    padding: 10px 5px;
}

.content h3 {
    font-size: 2rem;
    color: var(--text-color);
    padding: 5px;
}

.content h3 span {
    font-size: inherit;
    color: var(--secondary-color);

}